.image-bg
{
  border-radius: 50%;
}

.button-add-review
{
  margin-left: 25%;
  background-color:#E50081 ;
   color:aliceblue;
   border:0px;
  

}

.button-add-review:hover{
  margin-left: 25%;
  background-color: #5608FF ;
   color:aliceblue;
   border:0px;

}