.btn-submit
{
  background-color:#5608FF;
  color:white !important;
  border: 0px;
  margin-left: 23%;
  margin-bottom: 15px;
}

.btn-submit:hover{
  background-color: #E50081 !important;
  color:white;
  border: 0px;
  margin-left: 23%;
  margin-bottom: 15px;
}