
.bg-custom-pink
{
  background-color: #E50081 !important;
  color:white;
  margin-top: 30px;
  margin-bottom: 30px;
}



.submit-btn
{
  background-color:#5608FF;
  color:white !important;
  border: 0px;
  margin-left: 23%;
  margin-bottom: 15px;
}
.submit-btn:hover{
  background-color: white !important;
  color:#5608FF !important;

}
